<table border="0" cellspacing="0" cellpadding="0" style="background-color:#fff;width:100%;height:75px;">
  <tbody>
    <tr>
      <td style="padding:5px"><img src="${headerBrandingPath}" data-dojo-attach-point='brandingNode'></td>
      <td width="100%">
      </td>
      <td style="padding:0px 15px 0px 8px" nowrap="nowrap">
        <span class="userNode" data-dojo-attach-point="userNode"></span>
        <span class="loginNode" data-dojo-attach-point="loginNode" data-dojo-attach-event="ondijitclick:_onLoginClick"></span>
      </td>
    </tr>
  </tbody>
</table>